.app__header{
    height: auto;
    width: 100%;
   
    @media screen and (max-width: 1200px) {
        flex-direction: column;
        gap:2rem ;
        padding: 6rem 1rem 2rem;
    }

    @media screen and (max-width: 450px) {
        padding: 6rem 1rem 2rem;
    }
       
 
    padding:8rem 0  0 0rem ;
   
}
.app__header-info{
        background-color: var(--primary-color);
         margin-top: 8rem;
         padding-left: 7rem;
        display: flex;
        flex-direction: column;
        height: 500px;
    @media screen and (max-width: 1200px) {
        width: 100%;
        display: flex;
       
      }
      
    p{
        font-size: 2rem;
        text-align: left;
    }
    h1{
        font-size: 7rem;
        text-align: left;
    }
   
}


#home{
    background-color: url('../../assets/bgIMG.png');
    background-size: cover;
    background-position: center;
    
}
.app__header-image{
    margin-top: 2rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
  

    @media screen and (min-width:2000px) {
        width: 200px;
        height: 200px;
    }
    
    img{
        width: 70%;
    }
    &:nth-child(2){
        width: 140px;
        height: 140px;
        @media screen and (min-width:2000px) {
            width: 300px;
            height: 300px;
        }
    }
}

@media screen and (max-width:1200px) {
    .app__header-image--container{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }
}


.head-text--description{
    font-size: 1.5em;
    color: var(--secondary-color);
    font-family:'Modern Antiqua', cursive;
    line-height: 3rem;
    font-weight: 200;
   
}
 