.app__footer{
    height: 200px;
    display: flex;
    height: auto;
    background-color: var(--secondary-color);
    color:  var(--primary-color) ;
    
    

    &>div{
        width: 50%;
        
        padding: 8rem 0 8rem 8rem;
      
    }
    @media screen and (max-width:1200px) {
        flex-direction: column;
        &>div{
            width: 100%;
           
        }
    }
}


.app__footer--left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 10%;
    gap: 2rem;

    svg{
        &:hover{
            transform:  scaleX(-1);
            cursor: pointer;
        }
    }
}

.app__footer--text{
    width: 60%;
    color: var(--primary-color);
}
.app__footer-container{
    display: flex;
    gap: 2rem;
    *{
       width: 30px;
       height: 30px;
       
       border-radius: 0.5rem;
       padding: 0.1rem;
    }
}

.app__footer--right{
    gap: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &>button{
        height: 4rem;
        width: 8rem;
        border-radius: 0.8rem;
        background-color: inherit;
        border: 2px solid    var(--primary-color);
        color:  var(--primary-color);;
        font-weight: bold;
        &:hover{
            cursor: pointer;
            background-color:var(--primary-color); 
            color:var(--secondary-color)
            
        }
    }
    @media screen and (max-width:1200px) {
    
        justify-content:left ;
        flex-direction:row-reverse;
        }
}