.app__about {
   
    margin: 5rem 0 30rem 0;
    display: flex;
    flex-direction: column;
    gap: 25rem;

    &>div{
    display: flex;
    width: 100%;
    flex-direction: row;
    @media screen and (max-width: 1200px) {
      flex-direction: column;
      padding: 5rem;
      .app__about-left,.app__about-right{
        width: 100%;

      }
  }
    }
  
   
  }
  
 

  .app__about-left{
    
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    padding-right: 10rem;
    
    
    @media screen and (max-width: 1200px) {
    
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: auto;
      width: 100%;
      padding-right: 0rem;
      margin-bottom: 5rem;
    
      
  }
  
    
   
}

  .app__about-right{
    background-color: var(--primary-color) ;
    width: 40%;
    height: auto;
    display: flex;
    gap:1rem;
    padding-bottom: 2rem;
   
    flex-direction: column;
    h1,p{
      text-align: left;
    }
    .head-text{
      font-size: 5.5rem;
    }
  }

  .app__about-left--numeration{
    width: auto;
    font-size: 16rem;
    font-family: 'Cormorant SC', serif;
    color: var(--secondary-color);

    @media screen and (max-width:1200px) {
      display: none;
    }
    
  }

  .head-text--container{
    padding-bottom: 3rem;
  }


  
  
